<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="~/Style/GeneralStyle.css" />
    </head>

    <body style="background-color:#e1e8f0">

        <div class="topnav">
            <a class="active" href="../Home/Index">Home</a>
            <a href="../Home/Contact"> Contact </a>
        </div>

        @RenderBody()

    </body>

</html>