
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_General.cshtml";
}


<div class="information">
    <h2>ERROR</h2>

    <p> It seems the action you wanted to preform is causing an error! Please go back home and try again </p>
</div>
